body{
  display:grid;
  grid-template-rows: 50px 400px 50px;
  grid-template-columns: 100px 400px 100px;

  header{
    // grid-row:1/1; grid-column:1/4;
    // grid-row:1/1; grid-column:1/span 3;
    // grid-row:1/1; grid-column:span 3/4;

    grid-area:1/1/1/4;
    // grid-area:1/1/1/span 3;
    // grid-area:1/1/span 3/4;

    text-align:center;
    background: #557;
    color:#fff;
  }
  nav{
    grid-area:2/1;
    text-align:center;
    background:#eef;
  }
  main{
    grid-area:2/2;
    display:block; // Main tag needs this line for IE
  }
  aside{
    grid-area:2/3;
    background:#eef;
  }
  footer{
    // grid-row:3/3; grid-column:2/4;
    // grid-row:3/3; grid-column:2/span 2;
    // grid-row:3/3; grid-column:span 2/4;
    
    grid-area:3/2/3/4;
    // grid-area:3/2/3/span 2;
    // grid-area:3/2/span 2/4;

    text-align:center;
    background: #557;
    color:#fff;
  }
}


