.container{
  display:grid;
  grid-template-rows: 300px;
  grid-template-columns: min-content min-content max-content;
}

.item{
  background:#ffd;
  border:1px solid #333;
  text-align:center;
  &:nth-child(1){
    grid-area:1/1;
  }
  &:nth-child(2){
    grid-area:1/2;
    word-break:keep-all;
  }
  &:nth-child(3){
    grid-area:1/3;
  }
}
