.bbox{
  display:grid;
  grid-template-rows: repeat(4, 100px);
  grid-template-columns: repeat(3, 1fr);
  width:600px;
  border:4px solid lightgray;
}

.mbox{
  border:10px solid #f00;
  text-align:center;
  line-height:100px;
  font-size:30px;
  &:nth-child(1){
    grid-area:1/1/span 2/span 2;
  }
  &:nth-child(2){
    grid-area:1/3/span 2;
  }
  &:nth-child(3){
    grid-area:3/1;
  }
  &:nth-child(4){
    // grid-row-start:4;
    // grid-column-start:2;
    // grid-row:4/5;
    // grid-column:1/3;
    grid-area:4/2/span 1/span 2;
  }
  &:nth-child(5){
    grid-area:3/2
  }
}