* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #666666;
}

a {
  display: block;
  color: #666666;
  text-decoration: none;
}

ul {
  list-style: none;
}

h1, .logo, .gallery a, .sns a {
  text-indent: -9999px;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100vh;
      grid-template-rows: 100vh;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.wrap {
  width: 1200px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100px;
      grid-template-rows: 100px;
  -ms-grid-columns: 200px 1fr;
      grid-template-columns: 200px 1fr;
  background: #4d6c8b;
}

header h1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1/1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

header h1 a {
  width: 200px;
  height: 40px;
  background: url(../images/logo.png);
}

header > ul {
  width: 600px;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: 1/2;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: end;
      justify-self: end;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: (150px)[4];
      grid-template-columns: repeat(4, 150px);
}

header > ul > li {
  position: relative;
}

header > ul > li:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1/1;
}

header > ul > li:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: 1/2;
}

header > ul > li:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: 1/3;
}

header > ul > li:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: 1/4;
}

header > ul > li > a {
  color: #fff;
}

header > ul > li > a:hover {
  background: #43c499;
}

header > ul > li ul {
  position: absolute;
  height: 0;
  overflow: hidden;
  -webkit-transition: height .3s;
  transition: height .3s;
  background: #fff;
}

header > ul > li ul li {
  width: inherit;
}

header > ul > li ul li a:hover {
  background: #43c499;
  color: #fff;
}

header > ul li a {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
}

header > ul:hover ul {
  height: 130px;
}

.slide {
  height: 300px;
  overflow: hidden;
}

.slide ul {
  -webkit-animation: slideMove 12s infinite;
          animation: slideMove 12s infinite;
}

.slide ul:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.slide ul li a {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide ul li a p {
  background: rgba(255, 255, 255, 0.9);
  font-size: 24px;
  border-radius: 10px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 30px;
  text-align: center;
}

@-webkit-keyframes slideMove {
  0% {
    margin-top: 0px;
  }
  30% {
    margin-top: 0px;
  }
  33% {
    margin-top: -300px;
  }
  63% {
    margin-top: -300px;
  }
  66% {
    margin-top: -600px;
  }
  96% {
    margin-top: -600px;
  }
  99% {
    margin-top: -900px;
  }
  100% {
    margin-top: -900px;
  }
}

@keyframes slideMove {
  0% {
    margin-top: 0px;
  }
  30% {
    margin-top: 0px;
  }
  33% {
    margin-top: -300px;
  }
  63% {
    margin-top: -300px;
  }
  66% {
    margin-top: -600px;
  }
  96% {
    margin-top: -600px;
  }
  99% {
    margin-top: -900px;
  }
  100% {
    margin-top: -900px;
  }
}

.content {
  padding: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 180px;
      grid-template-rows: 180px;
}

.content .leftContent {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1/1;
  position: relative;
  -ms-grid-columns: (100px)[2];
      grid-template-columns: repeat(2, 100px);
  -ms-grid-rows: 30px;
      grid-template-rows: 30px;
}

.content .leftContent h2:first-of-type {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1/1;
}

.content .leftContent h2:last-of-type {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: 1/2;
}

.content .leftContent h2 a {
  font-size: 19px;
  font-weight: normal;
  border: 1px solid #333;
  text-align: center;
}

.content .leftContent h2 a.on {
  background: #4d6c8b;
  color: #fff;
}

.content .leftContent .bbs {
  position: absolute;
  left: 0;
  top: 40px;
  width: 100%;
  display: none;
}

.content .leftContent .bbs.on {
  display: block;
}

.content .leftContent .bbs table {
  width: 100%;
}

.content .leftContent .gallery {
  position: absolute;
  display: none;
  left: 0;
  width: 100%;
  height: 120px;
  top: 40px;
  padding: 10px;
}

.content .leftContent .gallery.on {
  display: block;
}

.content .leftContent .gallery.on ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.content .leftContent .gallery.on ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}

.content .leftContent .gallery.on ul li a {
  background-size: cover;
  height: 100%;
}

.content .banner {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content .banner li {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}

.content .banner li a {
  height: 100%;
  text-indent: -9999px;
}

.content .icon {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: 1/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.content .icon li {
  height: 150px;
}

.content .icon li:nth-of-type(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1/1;
}

.content .icon li:nth-of-type(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: 1/2;
}

.content .icon li:nth-of-type(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: 1/3;
}

.content .icon li a {
  height: 100%;
  padding-top: 120px;
  text-align: center;
  background-size: 80% !important;
  font-size: 20px;
}

footer {
  display: -ms-grid;
  display: grid;
  background: #43c499;
  -ms-grid-columns: 200px 1fr 150px;
      grid-template-columns: 200px 1fr 150px;
  -ms-grid-rows: 100px;
      grid-template-rows: 100px;
}

footer .logo {
  background: url("../images/logof.png") center/cover;
  height: 40px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

footer .copyright {
  color: #fff;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: 1/2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

footer .sns {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: 1/3;
  -ms-grid-row-align: center;
      align-self: center;
  display: -ms-grid;
  display: grid;
  height: 30px;
  -ms-grid-columns: (50px)[3];
      grid-template-columns: repeat(3, 50px);
}

footer .sns li:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: 1/2;
}

footer .sns li:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: 1/3;
}

footer .sns li a {
  height: 30px;
  width: 30px;
  border-radius: 3px;
}

.modal {
  position: absolute;
  left: 50%;
  top: 20%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #fff;
  width: 600px;
  padding: 20px 30px;
  -webkit-box-shadow: 5px 5px 5px #777;
          box-shadow: 5px 5px 5px #777;
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.modal * {
  margin: 10px 0;
}

.modal .closeDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .closeDiv .close {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  background: #4d6c8b;
  color: #fff;
  border: none;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.modal.on {
  visibility: visible;
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */