* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #666666;
}

a {
  display: block;
  color: #666666;
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
.logo,
.gallery a,
.sns a {
  text-indent: -9999px;
}

body {
  display: -ms-grid;
  display: grid;
  min-width: 1200px;
  -ms-grid-rows: 100vh;
      grid-template-rows: 100vh;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.wrap {
  width: 1200px;
  -ms-grid-column-align: center;
      justify-self: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100px 300px 200px 100px;
      grid-template-rows: 100px 300px 200px 100px;
  -ms-grid-columns: 200px 66.66667px (133.33333px)[7];
      grid-template-columns: 200px 66.66667px repeat(7, 133.33333px);
}

h1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1/1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

h1 a {
  width: 200px;
  height: 40px;
  background: url(../images/logo.png);
}

.background {
  z-index: -1;
}

.background {
  background: #4d6c8b;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 9;
  grid-area: 1/1/1/10;
}

.wrap > ul:first-of-type {
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-row: 1;
  -ms-grid-column: 6;
  -ms-grid-column-span: 4;
  grid-area: 1/6/1/10;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100px;
      grid-template-rows: 100px;
  -ms-grid-columns: (133.33333px)[4];
      grid-template-columns: repeat(4, 133.33333px);
  text-align: center;
}

.wrap > ul:first-of-type > li {
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.wrap > ul:first-of-type > li:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1/1;
}

.wrap > ul:first-of-type > li:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: 1/2;
}

.wrap > ul:first-of-type > li:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: 1/3;
}

.wrap > ul:first-of-type > li:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: 1/4;
}

.wrap > ul:first-of-type > li > a {
  color: #fff;
  line-height: 30px;
}

.wrap > ul:first-of-type > li > a:hover {
  background: #43c499;
}

.wrap > ul:first-of-type > li ul {
  position: absolute;
  height: 0;
  overflow: hidden;
  -webkit-transition: height .3s;
  transition: height .3s;
  background: #fff;
  text-align: center;
}

.wrap > ul:first-of-type > li ul li {
  width: inherit;
}

.wrap > ul:first-of-type > li ul li a {
  line-height: 30px;
}

.wrap > ul:first-of-type > li ul li a:hover {
  background: #43c499;
  color: #fff;
}

.wrap > ul:first-of-type li a {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  width: 133.33333px;
}

.wrap > ul:first-of-type:hover ul {
  height: 130px;
}

.slide {
  height: 300px;
  overflow: hidden;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 9;
  grid-area: 2/1/2/10;
}

.slide ul {
  -webkit-animation: slideMove 12s infinite;
          animation: slideMove 12s infinite;
}

.slide ul:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.slide ul li a {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide ul li a p {
  background: rgba(255, 255, 255, 0.9);
  font-size: 24px;
  border-radius: 10px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 30px;
  text-align: center;
}

@-webkit-keyframes slideMove {
  0% {
    margin-top: 0px;
  }
  30% {
    margin-top: 0px;
  }
  33% {
    margin-top: -300px;
  }
  63% {
    margin-top: -300px;
  }
  66% {
    margin-top: -600px;
  }
  96% {
    margin-top: -600px;
  }
  99% {
    margin-top: -900px;
  }
  100% {
    margin-top: -900px;
  }
}

@keyframes slideMove {
  0% {
    margin-top: 0px;
  }
  30% {
    margin-top: 0px;
  }
  33% {
    margin-top: -300px;
  }
  63% {
    margin-top: -300px;
  }
  66% {
    margin-top: -600px;
  }
  96% {
    margin-top: -600px;
  }
  99% {
    margin-top: -900px;
  }
  100% {
    margin-top: -900px;
  }
}

.leftContent {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 3/1/3/4;
  position: relative;
  -ms-grid-columns: (100px)[2];
      grid-template-columns: repeat(2, 100px);
  -ms-grid-rows: 30px;
      grid-template-rows: 30px;
  padding-top: 20px;
}

.leftContent h2:first-of-type {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1/1;
}

.leftContent h2:last-of-type {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: 1/2;
}

.leftContent h2 a {
  font-size: 19px;
  font-weight: normal;
  border: 1px solid #333;
  text-align: center;
}

.leftContent h2 a.on {
  background: #4d6c8b;
  color: #fff;
}

.leftContent .bbs {
  position: absolute;
  left: 0;
  top: 60px;
  width: 100%;
  display: none;
}

.leftContent .bbs.on {
  display: block;
}

.leftContent .bbs table {
  width: 100%;
}

.leftContent .gallery {
  position: absolute;
  display: none;
  left: 0;
  width: 100%;
  height: 120px;
  top: 60px;
  padding: 10px;
}

.leftContent .gallery.on {
  display: block;
}

.leftContent .gallery.on ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.leftContent .gallery.on ul a {
  background-size: cover;
  height: 100%;
  width: 120px;
}

.banner {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-area: 3/4/3/7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.banner a {
  height: 100%;
  text-indent: -9999px;
  height: 66.66667px;
}

.icon {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-area: 3/7/3/10;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-row-align: center;
      align-self: center;
}

.icon li {
  height: 150px;
}

.icon li:nth-of-type(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1/1;
}

.icon li:nth-of-type(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: 1/2;
}

.icon li:nth-of-type(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: 1/3;
}

.icon li a {
  height: 100%;
  padding-top: 120px;
  text-align: center;
  background-size: 80% !important;
  font-size: 20px;
}

.logo {
  background: url("../images/logof.png") center/cover;
  height: 40px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 200px;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: 4/1;
}

.copyright {
  color: #fff;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 9;
  grid-area: 4/1/4/10;
  background: #43c499;
  text-align: center;
  line-height: 100px;
  z-index: -1;
}

.sns {
  -ms-grid-row: 4;
  -ms-grid-column: 9;
  grid-area: 4/9;
  -ms-grid-row-align: center;
      align-self: center;
  display: -ms-grid;
  display: grid;
  height: 30px;
  -ms-grid-columns: (40px)[3];
      grid-template-columns: repeat(3, 40px);
}

.sns li:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: 1/2;
}

.sns li:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: 1/3;
}

.sns li a {
  height: 30px;
  width: 30px;
  border-radius: 3px;
}

.modal {
  position: absolute;
  left: 50%;
  top: 20%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #fff;
  width: 600px;
  padding: 20px 30px;
  -webkit-box-shadow: 5px 5px 5px #777;
          box-shadow: 5px 5px 5px #777;
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.modal * {
  margin: 10px 0;
}

.modal .closeDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .closeDiv .close {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  background: #4d6c8b;
  color: #fff;
  border: none;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.modal.on {
  visibility: visible;
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */